attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
constantly==15.1.0
crayons==0.3.0
cryptography==2.8
cssselect==1.1.0
et-xmlfile==1.0.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jdcal==1.4.1
lxml==4.5.0
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.2
parsel==1.5.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
requests==2.23.0
Scrapy==2.0.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
Twisted==19.10.0
urllib3==1.25.8
w3lib==1.21.0
webdriver-manager==2.3.0
webencodings==0.5.1
zope.interface==4.7.2
