* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

@blueColor: #215adc;

body {
    font-size: 18px;
}
 
h2.title {
    margin-bottom: 20px;
    font-size: 42px;    
}

button{
    padding: 5px 10px;
}

#header {
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 999;
    background: #fff;

    .inner-wrapper{
        margin:0 auto;
        position: relative;
    }

    a {
        font-size: 16px;
        color: #808080;
    }

    .menu{
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: row;
    }

    a:first-child{
        padding: 0px 20px;
    }
    a.signup-button{
        color: #fff;
    }

    
}

a.signup-button {
    background: @blueColor;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    padding-bottom: 10px;
}

p {
    line-height: 1.5;
}

p, a {
    font-weight: 300;
}

.footer {
    background: #3d3d3d;
    padding: 90px;

    color: #fff;
    text-align: center;
    font-size: 16px;

    .copy-text, a {
        color: #999;
        font-weight: 300;
    }

    h2{
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 50px;
    }

    a.signup-button {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 23px;
        padding: 12px 18px;
        color: #fff;
    }

    .divider {
        background: #4d4d4d;
    }
}

.clear{
    clear: both;
}

.header-push{
    height: 117px;
}

.masthead {
    overflow: visible;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    position: relative;

    .text {
        height: 100%;
        position: absolute;
        width: 550px;
        top: 0;

        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p.highlight {
            color: #999;
            font-size: 18px;
        }

        h1{
            font-weight: normal;
            font-size: 60px;
            margin-bottom: 20px;
        }
    }
    .macbook {
        margin-top: 40px;

        float: right;
        margin-right: -20%;

        background: url("static/image/mac.png");
        background-size: 100%;
        background-repeat: no-repeat;

        video {
            transform: scale(0.76) translateY(-5%);
            border-radius: 5px;
            overflow: hidden;
        }
    }
}

a {
    text-decoration: none;
}



.features {
    width: 100%;
    margin:0 auto;
    max-width: 1300px;
}

.feature {
    padding: 90px 0;

    .feature-text {
        width: 55%;
        float: left;

        padding-top: 50px;

        p {
            margin-bottom: 10px;
        }

        a{
            color: @blueColor;
            border-bottom: 1px dotted @blueColor;
        }

        h3{
            color: @blueColor;
            font-size: 16px;
            margin-bottom: 8px;
            font-weight: 300;
        }
        h2 {
            font-size: 32px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        &.right {
            float: right;
        }
    }

    .feature-video {

        width: 35%;
        float: right;

        video {
            width: 100%;
            border: 2px solid #ddd;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        }

        &.left {
            float: left;
        }
    }
}

.divider {
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background: #e6e6e6;
}

@media screen and (max-width: 1450px) {
    .masthead, .features {
        max-width: 1100px;
    }
    .masthead {
        .macbook {
            margin-right: -30%;
        }
        .text {
            width: 400px;
        }
    }
}

@media screen and (max-width: 1260px) {
    .masthead {
        .macbook{
            float: none;
            width: 80%; 
            margin: 0 auto;

            video {
                width: 100%;
                transform: scale(0.76) translateY(-5%);
            }
        }

        .text {
            position: relative;
            width: 100%;
            padding: 30px;

            h1 {
                font-size: 40px;
            }
        }
    }

    .divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .feature {
        padding: 20px 0;

        .feature-video{
            width: 100%;
            margin: 0 auto;
            float: none;

            max-width: 600px;

            padding: 30px;

            &.left {
                float: none;
            }
        }

        .feature-text {
            width: 100%;
            padding: 30px;
        }
    }

    #header {
        img {
            width: 120px;
        }

        a:first-child {
            display: none;
        }
    }
}